.fizz-buzz {
    display: inline-flex;
    padding: 10px;
    margin: 10px;
    height: 100px;
}

.count-button {
    background: green;
    color: #fff;
    margin: 10px;
    font-size: 1.05rem;
    height: 50px;
}

.count-button:hover {
    background: darkgreen;
}

.count-button:disabled {
    background: grey;
}

.fizz-buzz-label {
    padding: 0 15px;
}
