.fizz-buzz {
    display: inline-flex;
    padding: 10px;
}

.count-button {
    background: #4676D7;
    color: #fff;
    margin: 10px;
    font-size: 1.05rem;
}

.count-button:hover {
    background: #1d49aa;
}

.fizz-buzz-label {
    padding: 0 15px;
}
